<mustache lang="en">

    <head>
        <meta charset="utf-8">
        <title>Order</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>

        <div class="contacts-wrapper">
            <div class="contacts">
                <p>Тоска, ул. Отчаяния 6</p>
                <p>&#128386; xxxxxxxxxx@gmail.com</p>
            </div>
        </div>
    
        <header>
            <div id="menu">
                {{#links}}
                <a href="{{link}}">{{namePage}}</a>
                {{/links}}
            </div>
        </header>

        <main>
            <div class="label">
                <label> Корзина</label>
            </div>

            {{#openPurchases}}
            <div class="open-purchase">
                {{#items}}
                {{#patProduct}}
                <div>
                    <b>товар </b>
                    <span>{{productName}}</span>
                </div>
                <div>
                    <b>количество </b>
                    <span>{{count}}</span>
                </div>
                <div>
                    <b>цена за единицу </b>
                    <span>{{price}}</span>
                </div>
                <form action="/order/item/delete/{{itemId}}" method="post">
                    <button class="order-button-delete" type="submit">X</button>
                </form>
                {{/patProduct}}
                {{/items}}
            </div>
            <div style="width: 50%; margin:0 auto; text-align: center">
                <b>cумма: </b>
                {{sum}}

                <form style="margin: 0 20px" action="/order/sent/{{purchaseId}}" method="post">
                    <button class="order-button" type="submit">завершить заказ</button>
                </form>
            </div>
            {{/openPurchases}}



            {{#confirmedPurchases}}
            <div class="label">
                <label> Заказ доставляется</label>
            </div>
            <div class="confirmed-purchase">
                {{#items}}
                {{#patProduct}}
                <div>
                    <b>товар </b>
                    <span>{{productName}}</span>
                </div>
                <div>
                    <b>количество </b>
                    <span>{{count}}</span>
                </div>
                <div>
                    <b>цена за единицу </b>
                    <span>{{price}}</span>
                </div>
                {{/patProduct}}
                {{/items}}
                <form action="/order/close/{{purchaseId}}" method="post">
                    <button class="order-button" type="submit">подтвердить получение</button>
                </form>
            </div>
            <div>
                <b>cумма: </b>
                {{sum}}
            </div>
            {{/confirmedPurchases}}



            {{#sentPurchases}}
            <div class="label">
                <label> Заказ получен</label>
            </div>
            <div class="sent-purchase">
                {{#items}}
                {{#patProduct}}
                <div>
                    <b>товар </b>
                    <span>{{productName}}</span>
                </div>
                <div>
                    <b>количество </b>
                    <span>{{count}}</span>
                </div>
                <div>
                    <b>цена за единицу </b>
                    <span>{{price}}</span>
                </div>
                {{/patProduct}}
                {{/items}}s
            </div>
            <div>
                <b>cумма: </b>
                {{sum}}
            </div>
            {{/sentPurchases}}
        </main>
    </body>

</mustache>